* {
    box-sizing: border-box;
}

body {
    background-color: #700f2b;
    margin: auto 60px
}

.white-body {
    background-color: white;
    min-height: 100%x;
    width: 100%;
    border-radius: 10px;
    padding-bottom: 20px;
}

.qLogo img {
    height: 150px;
    margin-left: 20px;
    margin-top: 10px;
}

.qWelcomeBox {
    max-width: 100%;
    /* display: flex; */
    /* justify-content: center; */
    /* flex-wrap: wrap; */
    text-align: center;
    margin-left: 25%;
    border: solid 3px #ac1741;
    width: 900px;
    border-radius: 8px;
    padding-left: 18px;
}


.qLeftMenu {
    position: sticky;
}

.qWelcomeBoxInner {
    max-width: 100%;

    color: black;

    /* background-color: #77B1BA; */
    /* width: 70%; */
    /* display: flex;
    flex-wrap: wrap; */

}

.qStats {
    border-bottom: solid 1px #44747c;
}

.qWelcomeBoxInner p {
    font-weight: bold;
    width: 860px;
    text-align: center;
    
    /* margin-right: 50px; */
}

.qWelcomeBoxInner h2 {
    /* background-color:#44747c ;  */
    color: #2d494e;
    text-align: center;

}

.qWelcomeBoxInner a {
    text-decoration: none;
    color: #44747c;
}


/* Quizilla Grid Main */

.qRecentGrid {
    display: grid;
    margin-left: 20%;
    border: solid #ac1741 2px;
    margin-top: 50px;
}


/* Left Menu */

.qLeftMenu {
    border: solid 3px #ac1741;
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 8px;
    margin-left: 10px;
}

.qLeftMenu h2 {
    margin: 15px;
    margin-left: 0px;
    margin-bottom: 6px;
    color: #44747c;
}

.qLeftMenu li {
    padding: 1px;
    font-weight: bold;
}

.qLeftMenuLinks {
    text-decoration: none;
    list-style: none;
    margin: 0px;
    padding: 0px;
    color: black;
}

.qLeftMenuLinks a {
    text-decoration: none;
    list-style: none;
    color: black;
}