body {
    background-color: black;
}



/* Header Nav Area */

.limo-nav-left li,
a,
.limo-nav-left li a:visited {
    color: white;
    text-decoration: none;
    list-style: none;
    font-size: 18px;

}

.limo-nav-left,
li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
margin: 0px;
   

}

.limo-search a {
    display: flex;
  
    padding-top: 16px;
    font-size: 18px;


}

.limo-nav-left ul {
    display: flex;
    justify-content: space-evenly;
    width:585px;  
    padding: 0px;
    padding-right: 70px;
    margin-top: 15px;


}


.limo-nav-main {
    border-bottom: 3px solid white;
    display: flex;

}


.limo-logo h1 {
    color: white;
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: flex-start;
    margin: 0px 80px 0px 0px;

}
.see-rates {
    display: flex;
    justify-items: end;
    align-items: flex-end;
    margin-bottom: 15px;
}

.limo-logo img {
    height: 50px;
    width: 80px;
    margin: 0px;
    padding: 4px 6px 0px 0px;
    margin-right: 30px;
    margin-left: 60px;
    
}




/* Carousel Section */

.limo-box {
    background: url(aranprime-2_Ddnr0NYSA-unsplash.jpg) center no-repeat;
    background-size: cover;
    display: flex;
    min-height: 70%;
    justify-content: flex-end;
    align-items: center;
    margin: 15px 60px 0px 60px;
    padding: 40px;
    
}

.limo-splash {
    color: rgb(10, 8, 8);
    background-color: rgba(255, 255, 255, 0.655);
    margin: 25px 25px 25px 0px;
    padding: 25px;
    box-shadow: 0 0 5px;
    font-size: 20px;
    width: 380px;
    height: 300px;
}

.limo-go {}


.limo-take {
    display: flex;
    justify-content: center;
}