/* 
background color: #232946
font color: #fffffe
*/



* {
    box-sizing: border-box;
    margin: 18px;

}

/* Header Section */

body {
    background-color: #232946;
    font-size: 25px;
    height: auto;
    display: block;
    width: 100%;
    color: #fffffe;
}


h1 {
    display: flex;
    justify-content: center;
}


a,
li,
ul {
    list-style: none;
    text-decoration: none;
    color: #fffffe;
}


p {
    text-align: center;
}


a,
a:visited {
    color: #fffffe;
}


a:hover {
    border-bottom: dotted 3px #fffffe;
    transition: all 150ms ease-in-out;

}

.M-Logo img {
    width: 180px;
    height: 180px;
    border: 3px dotted #fffffe;
    border-radius: 100px;
}


.M-Nav-Content {
    display: flex;
    width: 100%;
}


.M-Nav-About-Box {
    padding-top: 40px;

}


.M-Nav-About {
    display: flex;
    gap: 20px;
    width: 100%;
    padding: 0px;
    margin-right: 60px;


}





.M-Hero {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    width: 100%;
    margin-bottom: 5%;
}

/* .M-Tagline-Links a {
    list-style: none;
    text-decoration: none;
    color: #fffffe;

} */

.M-Tagline {
    text-align: center;
    padding-top: 50px;


}

.M-About {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    flex-wrap: wrap;
}

.M-About-P {
    text-align: center;
    margin-bottom: 5%;
}

.M-Projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 5%;
}

.M-Project-Box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}