* {
    box-sizing: border-box;
}

body {
    background-color: #16161a;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}



/* Header Area */

.limo-header {
    /* border: 1px solid red; */
    display: flex;
    max-width: 100%;
    margin: 16px 0px 0px 90px;

}

.limo-logo {
    display: flex;
    justify-content: center;
    margin-top: 15px;


}

.limo-logo a {
    color: #fffffe;
    text-decoration: none;
}


.limo-header h1 {
    font-weight: 300;
}

.limo-header-inner {
    border: 3px solid #fffffe;
    font-size: 16px;
    margin: 5px;
    padding: 0px 10px 0px 10px;

}

/* Header Nav */

.limo-nav {
    /* border: 1px solid red; */
    display: flex;
    /* width: 100%; */
    justify-content: center;
    padding-left: 60px;


}

.limo-nav a {
    text-decoration: none;
    color: #fffffe;
    padding-right: 0px;
    font-size: 18px;
    font-weight: 540;

}

.limo-nav a,
.limo-nav a:visited {
    color: #fffffe;
    text-decoration: none;
}

.limo-nav a:hover {
    color: #4fc4cf;
}


.limo-nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 20px;
    padding: 0px;

}



input:focus-visible {
    outline: 1px solid #4fc4cf;
    border-radius: 3px;
}

.see-rates {
    display: flex;
    align-items: center;
    margin-left: 10px;
    border: none;
    padding-left: 50px;
}



.zip-code {
    text-align: center;
    padding: 6px;
    border-radius: 4px 0px 0px 4px;
    background-color: #16161a;
    border: 1px solid rgba(255, 255, 255, 0.821);
    color: #fffffe;

}

.zip-btn {
    background-color: #16161a;
    border: 1px solid rgba(255, 255, 255, 0.821);
    padding: 6.5px;
    border-radius: 0px 4px 4px 0px;
    color: #fffffe;
}

.zip-btn:hover {
    color: #4fc4cf;
}

.burger-div {
    display: flex;
    padding-left: 50px;
}

.fa-solid {
    font-size: 35px;
    color: #fffffe;
}

@media screen and (max-width:1200px) {

    .limo-header {
        background: #16161a;
    }

    .burger-div {
        display: block;
        margin-right: 30px;
        color: #fffffe;
    }

    .limo-nav {
        right: 0;
        position: absolute;
        width: 0;
        height: 0;
        flex-direction: column;
        justify-content: normal;
        overflow: hidden;
        top: 70px;


    }

    .see-rates {
        display: block;
        display: flex;
    }

    .zip-btn {
        display: none;
    }

    .limo-nav,
    .limo-nav-inner {
        flex-direction: column;
        text-align: left;
    }

    /* .limo-nav-links {
        text-align: center;
        margin: 0;

    } */

    .limo-nav-links a:link,
    .limo-nav-links a:visited {
        color: #fffffe;
    }

    .nav-active {
        width: 50%;
        height: 100px;
    }
}

/* Carousel Area */

/* .limo-carousel {
    margin-top: 50px;
}

.caro-limo img {
    max-height: 500px;
    width: 1000px;
    margin-left: 200px;
} */

[class^="number-slide"],
[class*=" number-slide"] {
    background: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 500;
    height: 450px;
    max-height: 100vh;
    padding-bottom: 90px;
    margin-top: 50px;


}

.limo-carousel {
    margin-top: 50px;
    margin-left: 150px;
    max-width: 80%;
}

/* .number-slide1 {
  background: rgb(64, 175, 255);
  background: linear-gradient(
    128deg,
    rgba(64, 175, 255, 1) 0%,
    rgba(63, 97, 255, 1) 100%
  );
} */

/* .number-slide2 {
  background: rgb(255, 75, 64);
  background: linear-gradient(
    128deg,
    rgba(255, 154, 63, 1) 0%,
    rgba(255, 75, 64, 1) 100%
  );
}

.number-slide3 {
  background: rgb(182, 255, 64);
  background: linear-gradient(
    128deg,
    rgba(182, 255, 64, 1) 0%,
    rgba(63, 255, 71, 1) 100%
  );
  background: linear-gradient(
    128deg,
    rgba(189, 255, 83, 1) 0%,
    rgba(43, 250, 82, 1) 100%
  );
}

.number-slide4 {
  background: rgb(64, 255, 242);
  background: linear-gradient(
    128deg,
    rgba(64, 255, 242, 1) 0%,
    rgba(63, 188, 255, 1) 100%
  );
}

.number-slide5 {
  background: rgb(255, 64, 156);
  background: linear-gradient(
    128deg,
    rgba(255, 64, 156, 1) 0%,
    rgba(255, 63, 63, 1) 100%
  );
}
.number-slide6 {
  background: rgb(64, 76, 255);
  background: linear-gradient(
    128deg,
    rgba(64, 76, 255, 1) 0%,
    rgba(174, 63, 255, 1) 100%
  );
} */

.navigation-wrapper {
    position: relative;
}

.dots {
    display: flex;
    padding: 10px 0;
    justify-content: center;
}

.dot {
    border: none;
    width: 10px;
    height: 10px;
    background: #4fc4cf;
    border-radius: 50%;
    margin: 0 5px;
    padding: 5px;
    cursor: pointer;
}

.dot:focus {
    outline: none;
}

.dot--active {
    background: #000;
}

.arrow {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    fill: #fff;
    cursor: pointer;

}

.arrow--left {
    left: 5px;
    fill: #fff;
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' %3E%3Cpath d='M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z' %3E%3C/path%3E%3C/svg%3E");
}

.arrow--right {
    left: auto;
    right: 5px;
    color: #4fc4cf;
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 24 24' %3E%3Cpath d='M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z'%3E%3C/path%3E%3C/svg%3E");
}

.arrow--disabled.arrow--left {
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 24 24' %3E%3Cpath d='M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z' %3E%3C/path%3E%3C/svg%3E");
}

.arrow--disabled.arrow--right {
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 24 24' %3E%3Cpath d='M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z'%3E%3C/path%3E%3C/svg%3E");
}

@media screen and (max-width: 1200px) {
    .limo-carousel {
        display: block;
    }
}


/* Limo Rate Cards */

.limo-rates {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: #fffffe;
    text-align: center;
    margin-top: 50px;
    /* border: 1px solid red; */
    height: 290px;
    /* gap: 40px; */
    background-color: #16161a;
    margin-left: 40px;
    margin-right: 40px;
}

.limo-rates h3 {
    font-size: 25px;
    /* background-color: #4fc4cf; */
    display: grid;
}

.limo-rates p {
    font-size: 19px;
    padding-top: 20px;
    /* padding-bottom: 20px; */
}

/* .rates-btn {
    background-color: #4fc4cf;

} */

.click-rates-btn {
    background-color: #4fc4cf;
    padding: 10px;
    border-radius: 10px;
    display: flex;



}

.click-rates-btn a {
    color: #000;
    font-weight: bold;
    text-decoration: none;

}

.click-rates-btn-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-end;


}

.newark-card {
    border: 1px solid #fffffe;
    text-align: center;
    background-color: #242629;
    border-radius: 5px;
    margin: 5px;
    transition: transform .9s;
    padding-top: 10px;
}

.newark-card:hover,
.laguardia-card:hover,
.jfk-card:hover,
.personal-driver-card:hover {
    transform: scale(1.1);

}



.laguardia-card {
    border: 1px solid #fffffe;
    text-align: center;
    background-color: #242629;
    border-radius: 5px;
    margin: 5px;

    transition: transform .9s;
    padding-top: 10px;
}

.jfk-card {
    border: 1px solid #fffffe;
    text-align: center;
    background-color: #242629;
    border-radius: 5px;
    margin: 5px;

    transition: transform .9s;
    padding-top: 10px;
}

.personal-driver-card {
    border: 1px solid #fffffe;
    text-align: center;
    background-color: #242629;
    border-radius: 5px;
    margin: 5px;

    transition: transform .9s;
    padding-top: 10px;
}

@media screen and (max-width: 799px) {


    .limo-rates {
        grid-template-columns: 1fr;
        display: grid;
        gap: 10px;
        width: 90%;
    }

    .limo-rates {

        overflow: hidden;
        height: 100%;
        padding: 40px;
    }

    .limo-cards {
        padding: 20px;
    }
}

/* Limo About Section */

.limo-about {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    background-color: #242629;
}

.limo-about-inner {
    color: #fffffe;
    display: flex;
    justify-content: center;
}

.about-driver {
    height: 80%;
    margin-left: 50px;
    border-radius: 20px;
}

.limo-about-driver-img {
    margin-top: 30px;

}



.limo-about-us {
    display: flex;
    justify-content: center;
    margin-right: 50px;
}

.limo-about-us p {
    font-weight: 300;
    text-align: center;
    font-size: 30px;
    margin-top: 100px;
    margin-left: 20px;
}




@media screen and (max-width: 1200px) {
    .limo-about-inner {
        flex-direction: column;
    }

    .limo-about-driver-img {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }

    .about-driver {
        width: 60%;


    }

    .limo-about-us {
        display: flex;
        justify-content: center;

    }

    .limo-about-us-inner {
        /* border: 1px solid red; */
        font-size: 30px;
        margin: 0px;
        margin-top: 0px;
        margin-bottom: 40px;
    }

    .limo-about-us-inner p {
        margin: 0px;
        margin-left: 20px;
    }
}

@media screen and (max-width: 799px) {
    .limo-about {
        margin-top: 100px;
    }

}


.limo-socials p {
    color: #fffffe;
    font-size: 20px;
    margin: 16px;
}

.socials-icons,
.socials-icons-connect {
    color: #fffffe;
    font-size: 30px;
    margin-top: 10px;
    vertical-align: sub;
    padding-right: 10px;
}



.limo-socials-icon-box {
    padding-top: 30px;
    padding-bottom: 20px;
    display: flex;
    gap: 30px;
    margin: 0px 30px 0px 30px;

}


.conect-with-us-box {
    display: flex;
    gap: 30px;
    margin-left: 40px;
    justify-content: space-between;

}


.conect-with-us-box a {
    text-decoration: none;
    color: #fffffe;
    font-size: 20px;

}

@media screen and (max-width: 1200px) {

    .limo-socials-icon-box {
        display: flex;
        flex-direction: row;
    }

    .socials-icons-connect {
        font-size: 45px;
        margin-left: 10px;
        margin-top: 20px;
    }

    .socials-icons {
        font-size: 35px;
        margin-left: 10px;
    }

    .conect-with-us-box a {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

}

@media screen and (max-width: 799px) {

    .limo-socials-icon-box {
        display: flex;
        border: 1px solid red;
        width: 100%;
    }

    .connect-with-us-box {
        display: flex;
        flex-wrap: wrap;
        border: 1px solid red;
        width: 100%;
    }

    .socials-icons {
       
    }
}